<table class="table table-bordered table-striped" align="center" style="font-size: 100%">
	<tbody>
		<tr class="info" align="center">
			<td><b>Zone</b></td>
			<td><b>Time</b></td>
		</tr>

		<%
		for(var i = 0, len = trList.length; i < len; i++) {
			var o = trList[i];
		%>

			<tr align="center" <% if(o.class) { %> class=<%= o.class %> <% } %>>
				<td><%= o.zone %></td>
				<td><span id=<%= o.id %>></span></td>
			</tr>

		<%
		}
		%>
	</tbody>
</table>

<script>
	var fStr = 'MMMM Do YYYY, HH:mm:ss A Z';

	var _getTime = function() {
		trList.forEach(function(o) {
			var t = mtz().tz(o.tz);
			$('#' + o.id).text(t.format(fStr));
		});
	};

	_getTime();
	setInterval(function() {
		_getTime();
	}, 1000);
</script>

